@import "variables.less";
@import "form.less";
@import "mixins.less";
@import "base_styles.less";

/*** ----- Layout Rules ----- ***/
.main-containers {
    background-color: @backgroundWhite;
}

@media (min-width: 300px) {
    h3 {
        &:before,
        &after {
            display: none;
        }
    }
}

@media (min-width: 700px) {
    h3 {
        &:before,
        &:after {
            display: inline-block;
            width: 18%;
        }
    }    
}

@media (min-width: 960px) {
    h3 {
        &:before,
        &:after {
            display: inline-block;
            width: 25%;
        }
    }    
}

a:link {
    color: @textBlue;
}

a:hover {
    color: @textWhite;
}

a:visited {
    color: @textBlue;
}

a:target {
    color: @textBlue;
}



/*** Header ***/
@media (min-width: 300px) {
    header {
        .main-containers;
        margin-top: 0;
        position: fixed;
        top: 0;
        min-height: 3em;
        z-index: 10;
    
        .logo {
            font-family: 'Cinzel', Arial;
            font-size: 1.75em;
            color: @textBlue;
            line-height: 1em;
            cursor: pointer;
        }
        
        .tagline {
            font-size: .65em;
            float: left;
            padding: 0 1em;
            color: @textColor;
        }
        
        .mobileMenuButton {
            .img-border;
            width: 2.5em;
            position: absolute;
            top: 0.2em;
            right: 1em;
        }
        
        nav {
            background-color: @backgroundBlue;
            margin-top: 1em;
            position: absolute;
            color: @textWhite;
            font-family: 'Cinzel', Arial;
            width: 100%;
            text-align: center;
            border-radius: 0px 0px 6px 6px;
            display: none;
        }
        
        nav ul li {
            border-bottom: 1px solid @backgroundWhite;
            padding: 0.15em 0;
            cursor: pointer;
        }
        
        nav ul li:last-child {
            border-bottom: none;
        }
    }
}

@media (min-width: 700px) {
    header {
        img {
            display: none;
        }
        
        .nav {
            display: inline;
            width: 55%;
            right: 0em;
            top: 0em;
            background: none;
            color: rgb(33,31,133);
        }
        
        nav ul li {
            display: inline;
            border: none;
            margin: 0 0.5em;
        }
    }
}

@media (min-width: 960px) {
}

/*----- Branding Styles -----*/
@media (min-width: 300px) {
    .brandingDiv {
        background: url("../images/Full_Body_Vest.png") no-repeat top center fixed;
        background-position-y: 4em;
        height: 100vh;
        background-size: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        
        .bgVideo {
            display: none;
        }
        
        .branding {
            margin: 0 auto;
            font-size: 3.2em;
            position: absolute;
            bottom: 1em;
            width: 100%;
            letter-spacing: 0.11em;
            text-align: center;
            color: @textWhite;
            background-color: @backgroundBlue;
        }
    }
}

@media (min-width: 700px) {
    .brandingDiv {
        position: relative;
        
        .branding {
            margin: 0 auto;
            text-align: center;
            letter-spacing: 0.11em;
            
        }
    }
}

@media (min-width: 960px) {
    .brandingDiv {
        background:none;
        padding: 2em 0;
        margin: 2em auto;
        
        .bgVideo {
            display: block;
            position: fixed;
            width: 100%;
            z-index: -1;
        }
        
        .branding {
            width: 100%;
            bottom: 1.5em;
            letter-spacing: .1em;
            font-size: 4em;
            margin: 0 auto;
        }
    }
}

/*----- Main Content Styles -----*/
@media (min-width: 300px){
    main {
        margin: 0 auto;
        
        .layout {
            .layout-container;
        }
    }
}

/*** Filmography Styles ***/
@media (min-width: 300px) {
    .film {
        .main-containers;
        width: 80%;
        padding: 10%;
        
        .film_div {
            background-color: #000;
            float: left;
            width: 100%;
            padding: 1em 0 2em;
            margin: 1em 0;
            text-align: center;
            height: 25em;
            position: relative;
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            img {
                .img-border;
                width: 85%;
                max-width: 17em;
                vertical-align: middle;
            }
            
            .film_info_div {
                position: absolute;
                z-index: 100;
                bottom: 0em;
                padding: 0.5em;
                text-align: center;
                background: @backgroundWhite;
                width: 85%;
                margin: 0 auto;
                left: 1em;
                right: 1em;
                border-radius: 10px 10px 0 0;
                cursor: pointer;
                
                p {
                    display: none;
                    padding: 2em 0 5em;
                }
                
                a {
                    position: relative;
                    top: 2em;
                }
            }
        }
        
    }
}

@media (min-width: 700px) {
    .film {
        width: 90%;
        padding: 5%;
        .film_div {
            padding: 1%;
            margin: 1em;
            width: 42%;
        }
    }
}

@media (min-width: 960px) {
    .film {
        width: 95%;
        padding: 5% 2.5%;
        
        .film_div {
            width: 25%;
            margin: 1.7em;
        
            .film_info_div {
                border-radius: 10px;
                cursor: pointer;
                top: 1em;
                right: 1em;
                bottom: 1em;
                left: 1em;
                display: none;
                p {
                    display: block;
                    padding: 2em 0;
                }
            }
        }
    }
}

/*** Video Div Styles ***/
@media (min-width: 300px) {
    .video {
        .main-containers;
        background: @textWhite;
        padding: 2em 0 5em;
        
        h3 {
            padding: 2em 0 1em;
        }
        
        .video_cat_div {
            width: 95%;
            padding: 5% 2.5%;
            float: left;
            position: relative;
            height: 10em;
            overflow: hidden;
            cursor: pointer;
            
            img {
                width: 100%;
            }
            
            .video_cat_title {
                margin: 0 auto;
                font-size: 1.7em;
                position: absolute;
                bottom: 0em;
                left: 0em;
                right: 0em;
                letter-spacing: 0.11em;
                text-align: center;
                color: @textWhite;
                background-color: @backgroundBlue;
            }
        }
        
        .videoList {
            
            .video_list_div{
                
                padding: 1em 0 3em;
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
                
                h4 {
                    padding-bottom: 1em;
                    text-decoration: underline;
                }
                
                iframe {
                    border: 2px solid @backgroundWhite;
                    width: 100%;
                    margin: 1% 0;
                    height: 20em;
                    border-radius: 10px;
                    float: left;
                }
                
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        
        p {
            margin: 1em auto;
            text-align: center;
            font-size: 3.2em;
        }
    }
}

@media (min-width: 600px) {
    .video {
        .video_cat_div {
            height: 18em;
            
            .video_cat_title {
                font-size: 2.7em;
            }
        }
    }
}

@media (min-width: 700px) {
    .video {
        
        .video_cat_div {
            width: 44%;
            padding: 0 1.5%;
            margin: 0 1.5%;
            height: 11em;
            
            .video_cat_title {
                font-size: 1.7em;
            }
        }
        
        .videoList {
            
            .video_list_div {
            
                iframe {
                    
                    width: 45%;
                    margin: 2%;
                    height: 15em;
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .video {
        
        .video_cat_div {
            height: 15em;    
        }
        
        .videoList {
            
            .video_list_div {
                
                iframe {
                        border: 2px solid white;
                        width: 30.5%;
                        margin: 1%;
                }
            }
        }
    }
}

/*** Bio Div Styles ***/
@media (min-width: 300px) {
    .bio {
        .main-containers;
        background: url("../images/bio_headshot.png") no-repeat top center fixed;
        background-size: 100%;
        padding: 20em 0 2em;
        
        .layout {
            background-color: @backgroundWhite;            
            padding: 0.5em;
        }
    }
}

@media (min-width: 700px) {
    .bio {
        
        .layout {
            .sub-containers;
            padding: 2em 1em;
        }
    }
}

@media (min-width: 960px) {
    .bio {
        background: url("../images/Full_Body_Vest.png") no-repeat top center fixed #fff;
        background-size: cover;
        
        .layout {
            padding: 2em 0.5em;
        }
    }
}

/*** Photo  Styles  ***/
@media (min-width: 300px) {
    .photo {
        .main-containers;
        padding: 5em 0;
        .photo_category {
            width: 90%;
            padding: 1em 5%;
            text-align: center;
            position: relative;
            float: left;
            height: 10em;
            overflow: hidden;
            cursor: pointer;
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            
            img {
                width: 100%;
                max-width: 17em;
                vertical-align: middle;                
            }
            
            .photo_category_title {
                margin: 0 auto;
                font-size: 1.7em;
                position: absolute;
                bottom: 0em;
                left: 0em;
                right: 0em;
                letter-spacing: 0.11em;
                text-align: center;
                color: @textWhite;
                background-color: @backgroundBlue;
            }
        }
        
        .photos {
            width: 90%;
            padding: 5%;
            float: left;
            
            img {
                width: 100%;
                .img-border;
            }
        }
        
        p {
            margin: 1em auto;
            text-align: center;
            font-size: 3.2em;
        }
    }
}

@media (min-width: 700px) {
    .photo {
        .photo_category {
            width: 35%;
            margin: 0 2%;
            
            img {
                width: 100%;
            }
            
            .photo_category_title {
                bottom: 0;
                font-size: 1.5em;
            }
        }
        
        .photos {
            width: 40%;
            padding: 5%;
            float: left;
            height: 18em;
            overflow: hidden;
        }
        
        p {
            clear: both;
        }
    }
}

@media (min-width: 960px) {
    .photo {
        .photo_category {
            width: 12%;
            margin: 0 .85em;
            
            img {
                width: 100vh;
                position: absolute;
                left: 0;
            }
        }
        
        .photos {
            height: 27em;
            position: relative;
            margin: 1em auto;
        }
    }
}

/***  Contact Styles   ***/
.contactDiv {
    .main-containers;
    padding: 0;
}

@media (min-width: 300px) {
    .contactDiv {
        .main-containers;
        padding: 7em 0;
        
        .contact {
           width: 97%;
           
           article {
                text-align: center;
                textarea {
                    height: 20.5em;
                    padding: 5px;
                }
                
                input {
                    padding: 5px;
                }
                
                input[type='submit'] {
                    background-color: @textBlue;
                    font-size: 1.5em;
                    color: @textWhite;
                }
           }
        }
    }
}

@media (min-width: 700px) {
    .contactDiv {
        
        .contact {
            
            article {
                width: 45%;
                float: left;
                margin-right: 2em;
                height: 30em;
                padding: 2em 0;
                
                textarea {
                    height: 22.5em;
                }
            }
            
            article + article{
                margin-right: 0;                
            }
        }
    }    
}

@media (min-width: 960px) {
}
/*----- Footer Styles -----*/
@media (min-width: 300px) {
    footer {
        .main-containers;
        margin-bottom: 0;
        background-color: @textBlue;
        color: @textWhite;
        
        section {
            margin: 2em auto;
            text-align: center;
            font-size: 1.5em;
            
            .social_media_div {
                
                width: 100%;
                height: 4.1em;
                margin-bottom: 2em;
                
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
                
                .facebook,
                .twitter,
                .instagram {
                    display: inline-block;
                    background-image: url('../images/social-media-icons.jpg');
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 3.8em;
                    cursor: pointer;
                }
                
                .facebook {
                    background-position: -5px -101px;
                }
                
                .twitter {
                    background-position: -105px -101px;
                }
                
                .instagram {
                    background-position: -305px -101px;
                }
            }
        }
        
        img {
            width: 75%;
            max-width: 400px;
            text-align: center;
            .img-border;
        }
    }
}

@media (min-width: 700px) {
    footer {
        
        section {
            
            .social_media_div {
                
                .facebook,
                .twitter,
                .instagram {
                    margin: 0 0.25em;
                    &:after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                }
            }
        }
    }
}

@media (min-width: 960px) {
    footer {
        position: relative;
        padding: 3em 0 0;
        section {
            float: left;
            width: 30%;
            p {
                font-size: .85em;
                margin: 1em auto;
            }
            
            .social_media_div {
                
                .facebook,
                .twitter,
                .instagram {
                    margin: 0;
                    &:after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                }
            }
        }
        
        img {
            height: 5em;
        }
    }
}


.promptNotify{
    border: 2px groove #c0c0c0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 200;
    color: blue;
    padding: 2em 0;
}

.promptNotify strong {
  font-size: 3em;
}

@media(min-width: 300px) {
    .promptNotify {
        position: fixed;
        width: 98%;
        left: 0;
        right: 0;
        top: 2.5em;
        margin: 0 auto;
    }
}

@media (min-width: 700px) {
    .promptNotify {
        width: 30em;
        top: 2.5em;
        left: 33%;
    }
}